.todo_ip_block {
  box-sizing: border-box;
  box-shadow: 0px 2px 2px 2px rgb(10, 10, 10, 0.5);
  background-color: white;
  color: black;
  font-size: 15px;
  width: 100%;
  height: 85vh;
  overflow-y: scroll;
  border-radius: 34px;
  padding-top: 5px;
}

.todo_ip_block::-webkit-scrollbar {
  display: none;

}

.above_text {
  background-color: rgb(93, 93, 203);
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px 10px;
  align-items: center;
  text-align: center;
  /* padding-left: 30px; */
}

.addbtn:hover {
  color: rgb(15, 150, 15) !important;
}

.closebtn:hover {
  color: rgb(154, 8, 8) !important;
}

.todo_input {
  /* border: 1px solid black; */
  border: 1px solid rgb(93, 93, 203);
  display: flex;
  text-align: start;
  align-content: left;
  border-radius: 6px;
  padding: 0 7px;
  font-size: 15px;
  /* height: 30px; */
  width: 400px;
  min-width: 150px;
}

.todo_content {
  padding: 30px;
}

.added_list {
  font-size: 14px;
  border: 1px solid transparent;
  display: flex;
  background-color: rgba(128, 128, 128, 0.479);
  text-align: start;
  align-content: left;
  border-radius: 3px;
  /* margin-left: 30px; */
  padding: 0 7px;
  width: 300px;
  min-width: 50px;
  overflow-x: hidden;
}

ol li {
  text-align: left;
}

.searchbtn:hover {
  color: rgb(154, 164, 76) !important;
  /* background-color:blue; */
  

}
.remove_all:hover{
  color: rgb(181, 4, 4)!important

}
.search_input {
  font-size: 13px !important;
  border: 1px solid rgb(93, 93, 203);
  padding: 2px;
}

@media screen and (max-width: 768px) {
  .todo_content {
    padding: 10px;
  }
  li {
    font-size: 12px;
  }
  ol {
    padding-left: 5px;
  }
  .todo_input {
    font-size: 12px;
  }
}
